body {
  background: linear-gradient(180deg, #eef2ff 0%, #f8fafc 100%);
  color: $color-text;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: $color-titulo-pantalla;
}