$color-bg: #f4f6fb;
$color-card: #ffffff;

$color-primary: #4f46e5;
$color-primary-hover: #4338ca;

$color-success: #16a34a;
$color-danger: #dc2626;

$color-text: #1f2937;
$color-muted: #6b7280;

$color-border: #e5e7eb;


// Títulos
$color-titulo-pantalla: #612e4b;

// Botón comenzar
$color-btn-comenzar-1: #fc9997;
$color-btn-comenzar-2: #f49196;
$color-btn-comenzar-3: #e68496;
$color-btn-comenzar-4: #f99395;
$color-btn-comenzar-sombra-1: #db7181;
$color-btn-comenzar-sombra-2: #bd5f81;
$color-btn-comenzar-texto: #fef1ee;

// Proyecto activo
$color-btn-proyecto-activo-1: #fac8ba;
$color-btn-proyecto-activo-2: #e8bcad;
$color-btn-proyecto-activo-sombra: #b57e91;
$color-btn-proyecto-activo-texto: #44203c;
$color-btn-proyecto-activo-borde: #fddacd;

// Proyecto bloqueado
$color-btn-proyecto-bloqueado-1: #e5b0c8;
$color-btn-proyecto-bloqueado-2: #c68fb4;
$color-btn-proyecto-bloqueado-sombra: #b26399;
$color-btn-proyecto-bloqueado-texto: #572853;
$color-btn-proyecto-bloqueado-borde: #fee1da;

// Etapas en mapa
$color-btn-etapa-mapa-activa-1: #bf98a4;
$color-btn-etapa-mapa-activa-2: #b791aa;
$color-btn-etapa-mapa-activa-borde-1: #fdd6c4;
$color-btn-etapa-mapa-activa-borde-2: #fdd7d1;

$color-btn-etapa-mapa-bloqueada-1: #e6b1c7;
$color-btn-etapa-mapa-bloqueada-2: #e0abc3;
$color-btn-etapa-mapa-bloqueada-texto: #ac638f;
$color-btn-etapa-mapa-borde: #fed6d3;

// Icono diamante
$color-diamante-1: #f09b75;
$color-diamante-2: #b06868;
$color-diamante-3: #fecbab;

// Línea cortada
$color-linea-cortada: #c87e9d;

// Textfields
$color-textfield-bg: #fdd9d5;
$color-textfield-borde: #ebc7d0;

// Botón ejecutar
$color-btn-ejecutar-1: #c1688d;
$color-btn-ejecutar-2: #bb6894;
$color-btn-ejecutar-sombra: #863764;
$color-btn-ejecutar-texto: #feeef5;

// Botón validar
$color-btn-validar-1: #ec8694;
$color-btn-validar-2: #ec8d9a;
$color-btn-validar-sombra: #c7586c;
$color-btn-validar-texto: #fde5e1;

// Botón volver
$color-btn-volver-1: #fcb3aa;
$color-btn-volver-2: #fbb1aa;
$color-btn-volver-sombra: #d96c6f;
$color-btn-volver-texto: #6b2324;

// Selector de etapa en pantalla de etapa
$color-btn-etapa-ide-activa-1: #e18a97;
$color-btn-etapa-ide-activa-2: #d47d96;
$color-btn-etapa-ide-activa-texto: #fabbbe;
$color-btn-etapa-ide-activa-borde: #fed7d5;

$color-btn-etapa-ide-bloqueada-1: #eeb5c5;
$color-btn-etapa-ide-bloqueada-2: #ebb0c3;
$color-btn-etapa-ide-bloqueada-borde: #fdd9d9;

// Proyecto en desarrollo
$color-btn-proyecto-en-curso-1: #f4c3b8;
$color-btn-proyecto-en-curso-2: #dca7b0;
$color-btn-proyecto-en-curso-sombra: #9c6b86;
$color-btn-proyecto-en-curso-texto: #4b223f;
$color-btn-proyecto-en-curso-borde: #fddacd;

// Etapa completada
$color-btn-etapa-completada-1: #f4b3b0;
$color-btn-etapa-completada-2: #e39ba9;
$color-btn-etapa-completada-sombra: #b56f8f;
$color-btn-etapa-completada-texto: #5a2947;
$color-btn-etapa-completada-borde: #fed7d5;